In [8]:
import pandas as pd

#carregar dados do arquivo
df = pd.read_excel('dados_ausentes.xlsx')
print(df)

    nome  idade      cidade  salario
0   joao   28.0          rj   3500.0
1  maria    NaN  velo clube   4500.0
2   jose   35.0      parana      NaN
3    ana   22.0      santos   5000.0
4  pedro    NaN   sao paulo   4800.0

In [7]:
print(df.isnull())

    nome  idade  cidade  salario
0  False  False   False    False
1  False   True   False    False
2  False  False   False     True
3  False  False   False    False
4  False   True   False    False

In [6]:
print(df.isnull().sum())

nome       0
idade      2
cidade     0
salario    1
dtype: int64

In [21]:
df_sem_nulos = df.dropna()
print(df_sem_nulos)

   nome  idade  cidade  salario
0  joao   28.0      rj   3500.0
3   ana   22.0  santos   5000.0

    nome         idade      cidade  salario
0   joao          28.0          rj   3500.0
1  maria  desconhecida  velo clube   4500.0
2   jose          35.0      parana      NaN
3    ana          22.0      santos   5000.0
4  pedro  desconhecida   sao paulo   4800.0

In [28]:
df['salario'].fillna(0, inplace=True)
print(df)

    nome         idade      cidade  salario
0   joao          28.0          rj   3500.0
1  maria  desconhecida  velo clube   4500.0
2   jose          35.0      parana      0.0
3    ana          22.0      santos   5000.0
4  pedro  desconhecida   sao paulo   4800.0

C:\Users\44590054841\AppData\Local\Temp\ipykernel_13584\747708493.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['salario'].fillna(0, inplace=True)

In [39]:
df['idade'].fillna(df['idade'].mean(), inplace=True)
print(df)

TypeError: unsupported operand type(s) for +: 'float' and 'str'