In [7]:
import pandas as pd

#carregar dados do arquivo
df = pd.read_excel('dados_ausentes.xlsx')
print(df)

    nome  idade      cidade  salario
0   joao   28.0          rj   3500.0
1  maria    NaN  velo clube   4500.0
2   jose   35.0         NaN      NaN
3    ana   22.0      santos   5000.0
4  pedro    NaN   sao paulo   4800.0

In [8]:
df['cidade'] = df['cidade'].str.title()

print(df)

    nome  idade      cidade  salario
0   joao   28.0          Rj   3500.0
1  maria    NaN  Velo Clube   4500.0
2   jose   35.0         NaN      NaN
3    ana   22.0      Santos   5000.0
4  pedro    NaN   Sao Paulo   4800.0

In [9]:
df['cidade'] = df['cidade'].str.lower().replace({"rj": "rio de janeiro","velo clube":"teste", "santos": "serie b","sao paulo": "spfc"})
print(df)

    nome  idade          cidade  salario
0   joao   28.0  rio de janeiro   3500.0
1  maria    NaN           teste   4500.0
2   jose   35.0             NaN      NaN
3    ana   22.0         serie b   5000.0
4  pedro    NaN            spfc   4800.0

In [13]:
df['idade'].fillna(df['idade'].mean(), inplace = True)
print(df)

    nome      idade          cidade  salario
0   joao  28.000000  rio de janeiro   3500.0
1  maria  28.333333           teste   4500.0
2   jose  35.000000             NaN      NaN
3    ana  22.000000         serie b   5000.0
4  pedro  28.333333            spfc   4800.0

In [14]:
df['idade'] = df['idade'].astype(int)
print(df)

    nome  idade          cidade  salario
0   joao     28  rio de janeiro   3500.0
1  maria     28           teste   4500.0
2   jose     35             NaN      NaN
3    ana     22         serie b   5000.0
4  pedro     28            spfc   4800.0

In [15]:
df['idade'] = df['idade'].ffill()

df['idade'] = df['idade'].bfill()

In [16]:
df['faixa etaria'] = pd.cut(df['idade'], bins=[0,18,30,50,100], labels= ['joven', 'adulto', 'meia idade', 'idoso'])
print(df)

    nome  idade          cidade  salario faixa etaria
0   joao     28  rio de janeiro   3500.0       adulto
1  maria     28           teste   4500.0       adulto
2   jose     35             NaN      NaN   meia idade
3    ana     22         serie b   5000.0       adulto
4  pedro     28            spfc   4800.0       adulto